server:
  http:
    addr: 0.0.0.0:8000
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9000
    timeout: 1s
auth:
  secret: aGTWgif4pwMnjF8My859yqoueBN9ueg95F58WNFt1ps
  typ: Token
data:
  database:
    driver: mysql
    source: root:liushenxyz@tcp(47.101.37.192:3306)/realworld?charset=utf8mb4&parseTime=True&loc=Local
  redis:
    addr: 127.0.0.1:6379
    read_timeout: 0.2s
    write_timeout: 0.2s
